body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  width: 100%;
  font-size: 30 px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
}

ol {
  background-color: yellow;
}

h1 {
  color: whitesmoke;
  padding: 1.5 rem;
}

/* Coz I'm too lazy for css https://codepen.io/rickyeckhardt/pen/poJwRRb */

button {
  display: inline-block;
  margin: 0 auto;
  line-height: 2 rem;
  padding: 0 20px;
  letter-spacing: 1px;
  transition: 0.2s all ease-in-out;
  outline: none;
  /* border: 1px solid rgb(219, 186, 186); */
  border: none;
}

input {
  line-height: 40px;
  margin-bottom: 2 rem;
  border: none;
  /* border-bottom: 2px solid rgb(219, 186, 186); */
  min-width: 50;
  padding-left: 5px;
  outline: none;
  color: rgba(0, 0, 0, 1);
}

.header {
  padding: 10px;
  size: 100 px;
}

.body {
  /* position: absolute;
  top: 10%;
  left: 30%;
  width: 300px;
  height: 100px; */
}

.left,
.right {
  display: inline;
  float: left;
  width: 200 px;
  margin: 10px;
}

.pair {
  overflow: auto;
  width: 900px;
  display: block;
}

.label {
  width: 200px;
  display: inline;
  padding: 10px;
}
