body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(253, 245, 245);
  width: 100%;
  font-size: 30 px;
}

.container {
  margin: auto;
  width: 40%;
  padding: 10px;
}

button {
  display: inline-block;
  margin: 0 auto;
  line-height: 2 rem;
  padding: 0 20px;
  letter-spacing: 1px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: none;
  background-color: rgb(177, 137, 144);
  border-radius: 0.2rem;
}

.buttonText {
  color: white;
  size: 30px;
}

input {
  line-height: 40px;
  margin-bottom: 2 rem;
  border: none;
  min-width: 50;
  padding-left: 5px;
  outline: none;
  color: rgba(0, 0, 0, 1);
}

.left,
.right {
  display: inline;
  float: left;
  margin: 10px;
}

.pair {
  overflow: auto;
  display: block;
}

.label {
  display: inline;
  padding: 10px;
}

.resetButton {
  padding: 10px;
}

.totalMass {
  padding: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 0.8rem;
  margin: auto;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.footerText {
  color: grey;
}

a {
  text-decoration: none;
  color: rgb(177, 137, 144);
}
